<div class="container about">
  <hr>
    <h1><a name="about" class="about">About</a></h1>
    <p>
    <strong>CulturoSpect</strong> is about learning about other cultures and helping 
    <br/>newly arrived with adapting to new environment. 
    <br/>Meet new people from a different cultural background, plan activities, mentrorship, make new friends, <em>etc.</em>
    </p>

    <p>If you just arrived in a new country at first everything might be confusing. 
    <br/>Maybe you are looking for new friends, or a local person who will guide you through
    <br/>new cultural customs and make your adaptation easier, this is the place to go! 
    </p>

    <p>Or if you are local but were always interested in other cultures, languages and
    <br/>in meeting people from different backgounds in your area, you are in the right place!	
    </p>

 	
</div>